@page "/"


<PageTitle>Welkom bij de WCB.Components Demo!</PageTitle>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <img src="_content/WCB.Components/images/wcb-logo.svg" alt="WCB.Components Logo" class="img-fluid mb-4" style="max-width: 250px; display: block; margin-left: auto; margin-right: auto;" />
            <h1 class="display-5 text-primary mb-4 text-center">WCB.Components</h1>
            <p class="fs-5 text-center">
                <strong>WCB.Components</strong> is een verzameling herbruikbare Blazor-componenten voor .NET 8, zoals tabellen met paginering, boomstructuren, invoervelden, modals, accordions en meer.
            </p>
            <p class="fs-5 text-center">
                Deze bibliotheek helpt ontwikkelaars om snel moderne en interactieve webapplicaties te bouwen.
            </p>
            <div class="alert alert-warning mt-4 text-center" role="alert">
                <strong>Let op:</strong> WCB.Components is momenteel nog in ontwikkeling en wordt actief uitgebreid met nieuwe functionaliteiten.
            </div>
        </div>
    </div>
</div>