@page "/callout-demo"
 
<PageTitle>CalloutDemo</PageTitle>

<h1>Callout!</h1>

<p>
    Op deze pagina tonen we voorbeelden van de <strong>WCBCallout</strong> component.<br />
    Gebruik deze component om gebruikers te informeren over belangrijke gebeurtenissen, successen, waarschuwingen of fouten.<br />
    Je kunt het type melding en of deze sluitbaar is zelf instellen.
</p>

<WCBTabs>
    <WCBTab Title="Voorbeeld">
     <div class="d-flex flex-column gap-3">
        <WCBCallout Message="Dit is een informatieve melding." Type="AlertType.Info" Dismissible="true" />
        <WCBCallout Message="Actie succesvol uitgevoerd!" Type="AlertType.Success" Dismissible="true" />
        <WCBCallout Message="Let op: Er is iets belangrijks gebeurd." Type="AlertType.Warning" Dismissible="true" />
        <WCBCallout Message="Er is een kritieke fout opgetreden." Type="AlertType.Error" Dismissible="true" />
        <WCBCallout Message="Deze melding kan niet worden gesloten." Type="AlertType.Info" Dismissible="false" />
    </div>
    
    </WCBTab>

    <WCBTab Title="WCBCode">
        <pre class="language-markup line-numbers">
 <code>
   &lt;WCBCallout Message="Dit is een informatieve melding." Type="AlertType.Info" Dismissible="true" /&gt;
   &lt;WCBCallout Message="Actie succesvol uitgevoerd!" Type="AlertType.Success" Dismissible="true" /&gt;
   &lt;WCBCallout Message="Let op: Er is iets belangrijks gebeurd." Type="AlertType.Warning" Dismissible="true" /&gt;
   &lt;WCBCallout Message="Er is een kritieke fout opgetreden." Type="AlertType.Error" Dismissible="true" /&gt;
   &lt;WCBCallout Message="Deze melding kan niet worden gesloten." Type="AlertType.Info" Dismissible="false" /&gt;
 </code>
    </pre>
    </WCBTab>
 
</WCBTabs>


@code {
    
}
