@page "/wcb-tabs-demo"


<h3>Demo van WCB Tabs</h3>


<WCBTabs>
    <WCBTab Title="Overzicht">
        <p>Welkom bij de demo van onze tabcomponent. Hier zie je het overzicht.</p>
    </WCBTab>

    <WCBTab Title="Details">
        <p>Deze tab bevat meer gedetailleerde informatie over het onderwerp.</p>
    </WCBTab>

    <WCBTab Title="Contact">
        <p>Je kunt contact opnemen via <a href="mailto:info@example.com">info@example.com</a>.</p>
    </WCBTab>
</WCBTabs>
